.app{
    height: 100%;
    background-image:  url("https://images.unsplash.com/photo-1635323979696-a0279890cf25?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MTV8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card {
    background-color: wheat;
    width: 50%;
    height: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 10px 10px;
}
.main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 580px;
}

.btn{
  margin-bottom: 10px;
  width: 200px;
  height:100px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
transition: all 0.3s  ease ;
}

.btn:hover{
    background-color: crimson;
    color: wheat;
}